<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Rltelecon</h1>
    <p>Lista dinamica ou statica</p>
  </body>
</html>
